Repository suddenlyGiovanni/event-service-agent-kata: changes, and which lefthook commands are due for each by the changed paths.
All: format, check

lefthook.yml:

# yaml-language-server: $schema=https://json.schemastore.org/lefthook.json

pre-commit:
  parallel: true
  commands:
    # Beads: Flush pending changes before commit (bypasses debounce)
    beads-sync:
      run: |
        if command -v bd &> /dev/null && [ -d ".beads" ]; then
          bd --no-daemon export 2>/dev/null || true
        fi
      stage_fixed: true
    
    format:
      glob: "*.{ts,tsx,json,md}"
      run: |
        export PATH="$HOME/.bun/bin:$PATH"
        bun run format
      stage_fixed: true
    
    check:
      glob: "*.{ts,tsx}"
      run: |
        export PATH="$HOME/.bun/bin:$PATH"
        bun run check
      stage_fixed: true
    
    docs-check:
      files: git diff --cached --name-only --diff-filter=ACM "*.md"
      run: |
        export PATH="$HOME/.bun/bin:$PATH"
        bun run docs:check
    
    docs-type-check:
      files: git diff --cached --name-only --diff-filter=ACM "*.ts"
      run: |
        export PATH="$HOME/.bun/bin:$PATH"
        bun run docs:type-check
  
  skip:
    - merge
    - rebase

post-merge:
  commands:
    # Beads: Import updated JSONL after pull/merge
    beads-import:
      run: |
        if command -v bd &> /dev/null && [ -d ".beads" ]; then
          bd --no-daemon import -i .beads/issues.jsonl 2>/dev/null || true
        fi

post-checkout:
  commands:
    # Beads: Import updated JSONL after branch switch
    beads-import:
      run: |
        if command -v bd &> /dev/null && [ -d ".beads" ]; then
          bd --no-daemon import -i .beads/issues.jsonl 2>/dev/null || true
        fi

pre-push:
  commands:
    # Beads: Export database to JSONL before push (critical for multi-workspace sync)
    beads-export:
      run: |
        if command -v bd &> /dev/null && [ -d ".beads" ]; then
          bd --no-daemon export 2>/dev/null || true
        fi
    
    test:
      run: |
        export PATH="$HOME/.bun/bin:$PATH"
        bun run test --run

commit-msg:
  commands:
    conventional:
      run: |
        grep -qE '^(feat|fix|docs|style|refactor|test|chore)(\(.+\))?!?: .{1,88}' "$1" || \
        (echo "‚ùå Commit message must follow Conventional Commits" && exit 1)

feat(flake): allow specific unfree package for development shell
  flake.nix
Due: none

feat(beads): improve lefthook integration to match official bd git hooks
  .beads/.gitignore
  lefthook.yml
Due: none

docs(beads): update AGENTS.md to reflect improved lefthook integration
  AGENTS.md
Due: format

feat(claude): add team Claude Code settings and gitignore local overrides
  .claude/settings.json
  .gitignore
Due: format

Update .local_version
  .beads/.local_version
Due: none

chore(deps): add @beads/bd as trusted dependency
  bun.lock
  package.json
Due: format

lint: Swap ask and deny order in Claude settings
  .claude/settings.json
Due: format

feat: install and configure beads issue tracker for agent memory (#69)
  .beads/.gitignore
  .beads/.local_version
  .beads/README.md
  .beads/config.yaml
  .beads/issues.jsonl
  .beads/metadata.json
  .claude/settings.json
  .gitattributes
  .gitignore
  AGENTS.md
  bun.lock
  docs/plan/README.md
  docs/plan/kanban.md
  flake.nix
  lefthook.yml
  package.json
Due: format

build(vitest): restructure test configs for unit/integration split
  packages/api/vitest.config.ts
  packages/api/vitest.unit.config.ts
  packages/execution/vitest.config.ts
  packages/execution/vitest.unit.config.ts
  packages/orchestration/vitest.config.ts
  packages/orchestration/vitest.unit.config.ts
  packages/platform/vitest.config.ts
  packages/platform/vitest.unit.config.ts
  packages/schemas/vitest.unit.config.ts
  packages/timer/vitest.config.ts
  packages/timer/vitest.integration.config.ts
  packages/timer/vitest.unit.config.ts
  packages/ui/vitest.config.ts
  packages/ui/vitest.unit.config.ts
  vitest.config.ts
Due: format, check

feat(timer): add Effect.uninterruptible for critical section
  packages/timer/src/workflows/poll-due-timers.workflow.test.ts
  packages/timer/src/workflows/poll-due-timers.workflow.ts
Due: format, check

refactor(timer): add workflows barrel export
  packages/timer/src/workflows/index.ts
Due: format, check

refactor(timer): convert ServiceCallFixture to Effect.Service
  packages/timer/src/adapters/timer-persistence.adapter.test.ts
  packages/timer/src/test/service-call.fixture.ts
  packages/timer/src/workflows/schedule-timer.workflow.test.ts
Due: format, check

chore: remove obsolete adapters package
  packages/adapters/README.md
  packages/adapters/biome.json
  packages/adapters/package.json
  packages/adapters/src/index.ts
  packages/adapters/tsconfig.json
  packages/adapters/vitest.config.ts
Due: format, check

refactor(timer): add domain barrel export
  packages/timer/src/domain/index.ts
Due: format, check

feat(timer): implement PollingWorker with error recovery
  packages/timer/src/workers/index.ts
  packages/timer/src/workers/polling.worker.test.ts
  packages/timer/src/workers/polling.worker.ts
Due: format, check

refactor(timer): use provideMerge for Test layer composition
  packages/timer/src/adapters/timer-persistence.adapter.ts
Due: format, check

refactor(timer): simplify public API to main entry point
  packages/timer/src/index.ts
Due: format, check

test(timer): add integration test DSL and scaffolded tests
  packages/timer/src/test/integration.dsl.ts
  packages/timer/src/test/main.integration.test.ts
Due: format, check

feat(timer): implement Timer.main entry point
  packages/timer/src/adapters/index.ts
  packages/timer/src/main.ts
Due: format, check

docs(plan): update Kanban with PL-4.4 progress
  docs/plan/kanban.md
Due: format

chore: update tooling and lockfile
  .vscode/settings.json
  package.json
Due: format

refactor(timer): streamline integration tests with TestHarness DSL
  packages/timer/src/test/main.integration.test.ts
Due: format, check

refactor(timer): remove redundant yield calls in Timer.main integration test
  packages/timer/src/test/main.integration.test.ts
Due: format, check

chore: relocate direnv cache
  .envrc
  .vscode/settings.json
Due: format

docs(timer): align event bus test state
  packages/timer/src/test/integration.dsl.ts
  packages/timer/src/test/main.integration.test.ts
Due: format, check

feat(timer): add command delivery DSL for integration tests
  packages/timer/src/test/integration.dsl.ts
Due: format, check

test(timer): add end-to-end lifecycle test at top level
  packages/timer/src/test/main.integration.test.ts
Due: format, check

refactor(timer): use Effect.fn.Return type helper for cleaner signatures
  packages/timer/src/adapters/timer-event-bus.adapter.ts
  packages/timer/src/workflows/poll-due-timers.workflow.ts
  packages/timer/src/workflows/schedule-timer.workflow.ts
Due: format, check

test(timer): reorganize integration tests - move Multi-Tenancy and Idempotency under E2E
  packages/timer/src/test/main.integration.test.ts
Due: format, check

test(timer): enable command subscription integration test
  packages/timer/src/test/integration.dsl.ts
  packages/timer/src/test/main.integration.test.ts
Due: format, check

feat(timer): enable true idempotency testing with explicit serviceCallId
  packages/timer/src/test/integration.dsl.ts
  packages/timer/src/test/main.integration.test.ts
Due: format, check

refactor(timer): use Generators for all ID creation in integration tests
  packages/timer/src/test/main.integration.test.ts
Due: format, check

test(timer): add error injection pattern docs, skip blocked tests
  packages/timer/src/test/main.integration.test.ts
Due: format, check

docs(plan): update PL-4.4 status - integration tests complete, docs remaining
  docs/plan/kanban.md
Due: format

refactor(timer): expose Timer service and make test harness startup deterministic
  packages/timer/src/index.ts
  packages/timer/src/main.ts
  packages/timer/src/test/integration.dsl.ts
  packages/timer/src/test/main.integration.test.ts
  packages/timer/src/workers/polling.worker.ts
Due: format, check

fix(timer): correct indentation in Polling Worker tests for better readability
  packages/timer/src/test/integration.dsl.ts
  packages/timer/src/test/main.integration.test.ts
Due: format, check

fix(timer): update lefthook and biome dependencies to latest versions
  bun.lock
  package.json
Due: format

docs(timer): update example code to ignore syntax highlighting
  packages/timer/src/test/integration.dsl.ts
Due: format, check

chore(beads): migrate PL-4.4 progress from kanban to beads
  .beads/issues.jsonl
Due: none

docs(timer): fix @see link for Timer.Test integration example
  packages/timer/src/main.ts
Due: format, check
